// 초기화
@import "./reset.css"; //.css .scss 확장자 생략 가능
// 폰트
@import "../fonts/fonts.css";
// 변수선언
@import "./valuable.scss"; // 변수선언이 필요할 경우 import로 페이지 추가해서 작성

// 스크롤바
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #eeece5;
}
::-webkit-scrollbar-thumb {
  background-color: $color;
  border-radius: 10px;
}
::selection {
  background-color: $color;
  color: $bg;
}

html {
  background-color: $bg;
}
body {
  font-family: $pretendard;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}
