@media screen and (min-width: 830px) {
  footer {
    padding-left: 50px;
    padding-bottom: 10px;
    font-weight: 500;
  }
}
@media screen and (max-width: 829px) {
  footer {
    text-align: right;
    font-weight: 500;
    padding: 0 10px;
  }
}