@media screen and (min-width: 830px) {
  .goUpBtn {
    color: #153;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: none;
    position: fixed;
    left: 100px;
    bottom: 40px;
    transition: 0.4s;
  }
  .goUpBtn:hover {
    bottom: 43px;
  }
  .goUpBtn.on {
    display: block;
  }
}
@media screen and (max-width: 829px) {
  .goUpBtn {
    color: #153;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    display: none;
    position: fixed;
    left: 20px;
    bottom: 35px;
  }
  .goUpBtn:hover {
    bottom: 43px;
  }
  .goUpBtn.on {
    display: block;
  }
}