/* font-family: 'DM Serif Display', serif; */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PretendardVariable.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Ivy Mode";
  src: local("Ivy Mode Light"), local("Ivy-Mode-Light"),
    url("IvyMode-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
