@import "../../assets/style/valuable";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 60px;
  transition: 0.4s;
  h1 {
    font-size: 30px;
    font-weight: 600;
    margin-left: 30px;
    font-family: $IVY;
  }
  .navigation {
    font-family: "Poppins", sans-serif;
    display: flex;
    .global-nav {
      position: fixed;
      top: 0;
      display: flex;
      right: 40px;
      text-align: center;
      cursor: pointer;
      li {
        width: 90px;
        margin: 16px 0;
        padding: 5px;
        transition: 0.3s;

        &.on {
          background-color: $color;
          border-radius: 30px;
          color: #fff;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
