@import "../../assets/style/valuable";

.skill {
  padding-left: $paddingLeft;
  padding-bottom: 150px;
  font-family: $IVY;
  // overflow: hidden;
  h2 {
    padding-top: 50px;
    padding-bottom: 90px;
    font-size: $fontSize;
  }
  h4 {
    width: 200px;
    text-align: right;
    font-size: 30px;
    font-weight: 600;
  }

  h3 {
    width: 255px;
    text-align: right;
    font-size: 60px;
    color: $color;
    font-weight: 600;
    position: sticky;
    top: 0;
  }
  .explanation .flex {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  .explanation ul {
    width: 530px;
    font-size: 18px;
    list-style: disc;
    font-family: $pretendard;
    padding: 30px 30px 70px 70px;
    li {
      list-style: square;
    }
  }
}
