@import "../../assets/style/valiable";

.skill {
  padding-left: $paddingLeft;
  padding-bottom: 150px;
  font-family: $IVY;
  h2 {
    padding-top: 150px;
    padding-bottom: 90px;
    font-size: $fontSize;
  }
  h3 {
    font-size: 70px;
    color: $color;
    font-weight: 600;
    padding-left: 100px;
    padding-top: 70px;
    position: sticky;
    top: 0px;
  }
  h4 {
    width: 400px;
    text-align: right;
    font-size: 30px;
    font-weight: 600;

    padding-left: 200px;
    padding-bottom: 70px;
  }
  .explanation .flex {
    display: flex;
  }
  .explanation ul {
    width: 750px;
    font-size: 20px;
    list-style: disc;
    font-family: $pretendard;
    padding: 30px 30px 70px 100px;
  }
}
