@import "../../assets/style/valuable";

.aspiration {
  padding-left: $paddingLeft;
  h2 {
    padding-top: 50px;
    padding-bottom: 110px;
    font-size: $fontSize;
    font-family: $IVY;
  }
  p {
    width: 80%;
    font-size: 25px;
  }
  padding-bottom: 150px;
}
