@import "../../assets/style/valuable";

.intro {
  font-family: $IVY;
  padding-left: 100px;
  h1 {
    padding-top: 60px;
    font-size: 230px;
    padding-bottom: 20px;
  }
  h3 {
    font-size: 85px;
    line-height: 1.3;
  }

  .scrolldown {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    align-items: center;
    img {
      width: 150px;
      vertical-align: bottom;
    }
    h4 {
      font-size: 60px;
    }
  }
}
