@import "../../assets/style/valuable";

.project {
  padding-left: $paddingLeft;
  padding-bottom: 150px;

  h2 {
    span {
      font-size: 30px;
      line-height: 0px;
    }
    padding-top: 50px;
    padding-bottom: 90px;
    font-size: $fontSize;
    font-family: $IVY;
    line-height: 150px;
  }
  p {
    width: 80%;
    font-size: 30px;
  }
  .border {
    width: 90%;
    border: 1px solid #000;
    padding: 20px;
    margin: 30px 0;

    h3 {
      font-size: 25px;
      font-weight: 300;
    }
    h4 {
      font-size: 19px;
      font-weight: 600;
      font-family: $IVY;
    }
  }
}
